body {
    font-family: Arial, Helvetica, sans-serif
}

/* Styles pour la barre de navigation */

nav {
    background-color: #1c68ab;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    margin: 0 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  li a:hover {
    background-color: #4d7fab;
  }
  
  /* Styles pour le contenu de la page */
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
  }
  
  h1 {
    color: #2C3E50;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  p {
    color: #7F8C8D;
    font-size: 24px;
  }
  


  